[package]
name = "forge-omni"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio.workspace = true
anyhow.workspace = true
reqwest.workspace = true
serde.workspace = true
ts-rs.workspace = true
serde_json.workspace = true